node_modules
**/*.js
!test/fixtures/compare-js*.js
coverage
notes.txt
haskell/dist
ruby/vendor/cache
ruby/.bundle
ruby/coverage
npm-debug.log
haskell/cabal.sandbox.config
haskell/.cabal-sandbox
tmp
tags
haskell/*.tix
